.ecdi-page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgb(27, 27, 27, .95);
    z-index: 10;
    overflow-y: auto;
}
.go-back {
    position: absolute;
    left: 0;
    margin: 2rem;
    padding: 1rem;
}

.ecdi-title {
    color: white;
    margin: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.ecdi-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.ecdi-logo {
    width: 100%;
    grid-column: 2 /span 2;
}

.ecdi-grid-right {
    color: white;
    grid-column: 4/span 3;
    padding: 2rem;
    margin-top: 0;
    padding-top: 0;
}

.ecdi-grid-right p {
    margin: 0;
    text-align: left;
}

.ecdi-grid-right ul {
    text-align: left;
    font-size: .9rem;
}

.ecdi-bottom-text {
    margin-bottom: 2rem !important;
}

.ecdi-link {
    background-color: #CCECFC;
    color: #252525;
    padding: 1rem;
    border-radius: 2rem;
    transition: .3s ease;
}
.ecdi-link:hover {
    color: #252525;
    background-color: white;
}
.ecdi-clients {
    grid-column: span 7;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2rem;
    margin-bottom: 2rem;
}

.ecdi-clients h2 {
    color: white;
    font-size: 2rem;
    grid-column: span 7;
}

.client-card {
    grid-column: 2/ span 2;
    background-color: #CCECFC;
    padding: 2rem;
    border-radius: 2rem;
}
.ecdi-clients .client-card:nth-child(odd){
    grid-column: 5/ span 2;
}
.client-card img {
    width: 100%;
}

@media (max-width: 768px) {
    .go-back {
        padding: .6rem !important;
        font-size: .8rem;
        margin-top: 2.8rem !important;
    }
    .ecdi-title {
        font-size: 1.5rem !important;
        padding-right: 4rem;
        padding-left: 4rem;
    }
    .ecdi-grid-right {
        padding-bottom: 0;
    }
    .ecdi-grid {
        display: flex ;
        flex-direction: column;
        align-items: center;
    }
    .ecdi-logo {
        width: 80%;
        margin-bottom: 2rem;
    }
    .ecdi-clients {
        display: flex ;
        flex-direction: column;
        padding-top: 0;
        padding: 2rem;
        
    }
    .ecdi-clients h2 {
        font-size: 1.3rem;
    }

    .client-card {
        margin-left: 2rem;
        margin-right: 2rem;
    }

}
