.footer-wrapper {
    background-color: #252525;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 2rem;
}

.footer-wrapper h1 {
    color: white;
    font-size: 5rem;
}

.footer-wrapper h2 {
    color: white;
    text-align: left;
}

.footer-wrapper ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}

.footer-wrapper a {
    color: #CCECFC;
}