.work-wrapper {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.work-card {
    grid-column: 2/span 5;
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: #CCECFC;
    border: 2px solid #CCECFC;
    border-radius: 2rem;
    cursor: pointer;
    margin-bottom: 2rem;
    transition: 0.3s ease;
}
.work-card:hover {
    border: 2px solid #252525;
}
.work-card img {
    width: 15%;
}

.work-card-text {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 2rem;
}